@import "tailwindcss";

@theme {
  --color-brand-dark: #be1a1a;
  --color-brand: #d0311e;
  --color-brand-accent: #f7d87f;
  --color-brand-light: #f8ebab;
  --color-surface: #ffffff;
  --color-surface-hover: #fcfbfa;
}

:root {
  --text: #334155;
  --text-h: #0f172a;
  --bg: #fdfdfc;
  --border: #e2e8f0;
  --sans: 'Inter', system-ui, -apple-system, sans-serif;
  
  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  background-color: var(--bg);
}

h1, h2, h3 {
  color: var(--text-h);
  font-weight: 600;
  letter-spacing: -0.025em;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3;
}



